* {
  margin: 0;
  padding: 0; }

body {
  background: rgba(183,222,237,1);
background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 52%, rgba(113,206,239,1) 95%, rgba(183,222,237,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(52%, rgba(33,180,226,1)), color-stop(95%, rgba(113,206,239,1)), color-stop(100%, rgba(183,222,237,1)));
background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 52%, rgba(113,206,239,1) 95%, rgba(183,222,237,1) 100%);
background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 52%, rgba(113,206,239,1) 95%, rgba(183,222,237,1) 100%);
background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 52%, rgba(113,206,239,1) 95%, rgba(183,222,237,1) 100%);
background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 52%, rgba(113,206,239,1) 95%, rgba(183,222,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 ); }

#container {
  margin: auto;
  margin-top: 3em;
  width: 900px;
 
  text-align: center; }
  #container h1 {
    font-family: "Exo 2", sans-serif;
    font-size: 4em; }
  #container #credentials {
    margin-top: 40%; }
    #container #credentials button, #container #credentials input[type="text"] {
      background: #fff;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      color: #777;
      border: 0;
      box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.1);
      font-size: 16px; }
  #container #image {
    width: 200px;
    padding: 2em 0;
    margin: auto; }
    #container #image img {
      width: 100%;
      height: 100%; }
  #container #info {
    font-family: "Exo 2", sans-serif;
    width: 200px;
    
    margin: auto; }
    #container #info h2, #container #info p {
      font-size: 4em; }
    #container #info #summary {
          margin-top: 1em;
    font-size: 2em;
       }
    #container #info #temps {
      list-style: none;
      margin-top: 1em; }
      #container #info #temps li {
        display: inline;
        margin-left: 1em;
        margin-right: 1em; }
        #container hr {
          margin-top: 2em;
        }
        #container #futureDays #weekly{
          width:100%;
          margin-top:2em;
        }
        #container #futureDays #weekly li{
          list-style: none;
          display:inline;
          margin-left:2em;
        }
